<div class="messagepage" ng-controller="MessageCtrl as mctrl" layout="column" layout-fill>


        <!-- Autocomplete -->

    <div>

        <form ng-submit="$event.preventDefault()">
            <md-autocomplete
                    ng-if="!selectedContact"
                    ng-disabled="mctrl.isDisabled"
                    md-no-cache="true"

                    md-search-text-change="mctrl.searchTextChange(mctrl.searchText)"
                    md-search-text="mctrl.searchText"
                    md-selected-item-change="mctrl.selectedItemChange(item)"
                    md-items="item in mctrl.querySearch(mctrl.searchText)"

                    md-min-length="3"
                    md-autofocus="true"
                    placeholder="Search for a contact">

                <md-item-template>
                    <img ng-src="{{item.avatar}}" alt="{{item.name}}" class="md-avatar">
                    <span md-highlight-text="mctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>

                <!--<md-not-found>
                    No matches found for "{{mctrl.searchText}}".
                </md-not-found>-->

            </md-autocomplete>
        </form>
    </div>

    <!-- Selected Contact -->
    <div flex="10" ng-if="selectedContact" class="selected-contact">
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="contact in selectedContact" ng-click="composeReaction(contact)">
                <img ng-src="{{contact.avatar}}" alt="{{contact.name}}" class="md-avatar">
                <div class="md-list-item-text">
                    <h3>{{contact.name}}</h3>
                    <p>
                        <!--{{contact.phone}}-->
                    </p>
                </div>
                <span flex></span>

                <md-button ng-click="removeContact()"
                           class="md-secondary hamburger-menu">
                    <i class="fa fa-times"></i>
                </md-button>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>


    <div class="messages" style="height: {{messagesHeight}}vh">
        <div class="sending-load" ng-if="isLoading">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <div class="list">
            <div class="message"
                 ng-repeat="message in messages[0].conversation"
                 ng-class="{'other': selectedContact[0].id == message.poster}">
                <!--{{message}}-->
                {{message.text}} - {{message.timestamp}}
            </div>
        </div>
    </div>

    <!-- Write Text Message -->
    <div class="text-message" layout="row" ng-class="{'edit-mode': textEditMode, 'simple-mode': !textEditMode}">
        <div flex="15">
            <!--<md-radio-group ng-model="message.type">
                <md-radio-button value="direct" class="md-primary">APP</md-radio-button>
                <md-radio-button value="sms">SMS</md-radio-button>
                &lt;!&ndash;<md-radio-button value="mms">MMS</md-radio-button>&ndash;&gt;
            </md-radio-group>-->
            <div class="switch">
                <md-switch ng-model="isEditActive" ng-click="switchEdit(isEditActive)" aria-label="SMS or MMS" class="md-primary">
                    MMS <br> SMS
                </md-switch>
            </div>
        </div>
        <div flex>
            <md-input-container flex ng-click="textEditMode = !textEditMode">
                <label>Message</label>
                <textarea ng-model="message.text" columns="1" md-maxlength="150"></textarea>
            </md-input-container>
        </div>
        <div flex="15" ng-click="sendMessage()" class="send">
            <i class="fa fa-arrow-circle-o-up"></i>
        </div>

    </div>

    <!-- Reactions - FAVORITE -->
    <div flex class="reactions" ng-if="isEditActive">
        <div layout="column" flex="25">
            <div flex layout-fill class="reaction"><img src="" alt=""/></div>
            <div flex layout-fill class="reaction"><img src="" alt=""/></div>
        </div>
        <div layout="column" flex="25">
            <div flex layout-fill class="reaction"><img src="" alt=""/></div>
            <div flex layout-fill class="reaction"><img src="" alt=""/></div>
        </div>
        <div layout="column" flex="25">
            <div flex layout-fill class="reaction"><img src="" alt=""/></div>
            <div flex layout-fill class="reaction"><img src="" alt=""/></div>
        </div>
        <div layout="column" flex="25">
            <div flex layout-fill class="reaction"><img src="" alt=""/></div>
            <div flex layout-fill class="reaction"><img src="" alt=""/></div>
        </div>
    </div>

</div>
