<div class="messagepage" ng-controller="MessageCtrl as mctrl" layout="column" layout-fill>

    <div>

        <!-- Autocomplete -->
        <form ng-submit="$event.preventDefault()">
            <md-autocomplete
                    ng-if="!selectedContact"
                    ng-disabled="mctrl.isDisabled"
                    md-no-cache="true"

                    md-search-text-change="mctrl.searchTextChange(mctrl.searchText)"
                    md-search-text="mctrl.searchText"
                    md-selected-item-change="mctrl.selectedItemChange(item)"
                    md-items="item in mctrl.querySearch(mctrl.searchText)"

                    md-min-length="3"
                    md-autofocus="true"
                    placeholder="Search for a contact">

                <md-item-template>
                    <img ng-src="{{item.avatar}}" alt="{{item.name}}" class="md-avatar">
                    <span md-highlight-text="mctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>

                <!--<md-not-found>
                    No matches found for "{{mctrl.searchText}}".
                </md-not-found>-->

            </md-autocomplete>
        </form>

        <!-- Selected Contact -->
        <div ng-if="selectedContact" class="selected-contact">
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="contact in selectedContact" ng-click="composeReaction(contact)">
                    <img ng-src="{{contact.avatar}}" alt="{{contact.name}}" class="md-avatar">
                    <div class="md-list-item-text">
                        <h3>{{contact.name}}</h3>
                        <p>
                            {{contact.phone}}
                        </p>
                    </div>
                    <span flex></span>

                    <md-button ng-click="removeContact()"
                               class="md-secondary hamburger-menu">
                        <i class="fa fa-times fa-lg"></i>
                    </md-button>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </div>
    </div>



    <!-- Message - Contact Context -->
    <div class="actions">
        <div class="messages" flex>
            User Messages, if any, come here
        </div>

        <!-- Write Text Message -->
        <div class="text-message">
            Text Message
        </div>

        <!-- Reactions - FAVORITE -->
        <div class="reactions">
            REACTIONS
        </div>
    </div>

</div>
