<div class="homepage">

    <fa-modifier ng-repeat="contact in accountReactive[0].contacts | filter:search"
                 fa-animate-enter="catEnter(cat.t, $done)"
                 fa-animate-leave="catLeave(cat.t, $done)"
            >
        <fa-surface ng-click="composeReaction(contact)">
            {{contact.name}}
        </fa-surface>
    </fa-modifier>

                <div class="search-widget md-padding">
                    <!-- Use floating placeholder instead of label -->
                    <i md-font-icon="fa-search" alt="fa" class="fa fa-lg search"></i>
                    <input ng-model="search" type="text" placeholder="Search">
                </div>
                <!--<meteor-include src="loginButtons"></meteor-include>-->
                <div>
                    <!--Friends using the app-->
                    <h5>You are: <b>{{accountReactive[0].profile.fullname}}</b>
                        <small>(If you see this user on another phone after searching for friends you can chat with him[you {whatever} ].)</small></h5>


                    <div ng-if="accountReactive[0].profile.friends" class="md-no-sticky">Contacts using ReactionSMS.</div>
                    <div class="md-2-line friends"
                                  ng-repeat="contact in accountReactive[0].profile.friends | filter:search"
                                  ng-click="composeReaction(contact.id)"
                                  ng-if="contact">
                        <img ng-src="{{contact.avatar}}" alt="{{contact.name}}" class="md-avatar">
                        <div class="div-text">
                            <h3>{{contact.fullname}} <small>({{contact.username}})</small></h3>
                            <p>
                                <!--{{contact.id}}-->
                            </p>
                        </div>

                        <span class="pull-right status add">
                            <i class="fa fa-minus-circle"></i>
                        </span>

                        <span class="pull-right status">
                            <i class="fa fa-circle"></i>
                        </span>

                        <md-divider></md-divider>
                    </div>
                    <!--Contacts using the app-->
                    <div class="md-2-line find-friends" ng-if="!friendedContacs" ng-click="findFriends()">
                        <img ng-src="{{contact.avatar}}" alt="{{contact.name}}" class="md-avatar">
                        <div class="div-text">
                            <h3>Find Friends</h3>
                            <p>
                                Find friends that are already using this app.
                            </p>
                        </div>
                        <md-divider></md-divider>
                    </div>

                    <div class="md-no-sticky">Imported contacts</div>
                    <div class="md-2-line" ng-repeat="contact in accountReactive[0].contacts | filter:search" ng-click="composeReaction(contact)">
                        <img ng-src="{{contact.avatar}}" alt="{{contact.name}}" class="md-avatar">
                        <div class="div-text">
                            <h3>{{contact.name}}</h3>
                            <p>
                                <!--{{contact.phone}}-->
                            </p>
                        </div>
                        <span class="pull-right status">
                            <i class="fa fa-circle-thin"></i>
                        </span>
                        <md-divider></md-divider>
                    </div>
                </div>
            
</div>
